{{ form_start(form, {'attr': {'id':'form_newproducto'}}) }}
<form role="form" action="{{ path('app_producto_new') }}">
    <div class="row">
        <div class="col-sm-12">
            <div class="form-group">
                <div class="text-danger">
                    {{ form_errors(form) }}
                </div>
                <div class="input-group">
                    {{ form_widget(form.nombre) }}
                </div>
            </div>
        </div>
        <div class="col-sm-12">
            <div class="form-group">
                <div class="custom-file">
                    {{ form_widget(form.imagen) }}
                    <label class="custom-file-label" for="producto_imagen">Adjuntar Imagen</label>
                </div>
            </div>
        </div>
        <div class="col-sm-12">
            <div class="form-group">
                <div class="form-check">
                    <div id="producto_tipoproducto">
                        <div class="row" style="padding-top: 5px; padding-left: 15%">
                            <div class="form-check">
                                <input id="producto_tipoproducto_0" class="form-check-input" value="1" type="radio"
                                       required="required" name="producto[tipoproducto]" checked>
                                <label class="required form-check-label" for="producto_tipoproducto_0"
                                       style="padding-right: 10px;">General</label>
                            </div>
                            <div class="form-check">
                                <input id="producto_tipoproducto_1" class="form-check-input" value="2" type="radio"
                                       required="required" name="producto[tipoproducto]">
                                <label class="required form-check-label" for="producto_tipoproducto_1"
                                       style="padding-right: 10px;">Libro</label>
                            </div>
                            <div class="form-check">
                                <input id="producto_tipoproducto_2" class="form-check-input" value="3" type="radio"
                                       required="required" name="producto[tipoproducto]">
                                <label class="required form-check-label" for="producto_tipoproducto_2"
                                       style="padding-right: 10px;">Servicio</label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-8">
            <div class="form-group">
                <div class="input-group">
                    {{ form_widget(form.beneficioxventa) }}
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="form-group">
                <div class="form-check">
                    <div id="producto_tipodemoneda">
                        <div class="row" style="padding-top: 5px;">
                            <div class="form-check">
                                <input id="producto_tipodemoneda_0" class="form-check-input" value="USD" type="radio"
                                       required="required" name="producto[tipodemoneda]" checked>
                                <label class="required form-check-label" for="producto_tipodemoneda_0"
                                       style="padding-right: 10px;">USD</label>
                            </div>
                            <div class="form-check">
                                <input id="producto_tipodemoneda_1" class="form-check-input" value="EUR" type="radio"
                                       required="required" name="producto[tipodemoneda]">
                                <label class="required form-check-label" for="producto_tipodemoneda_1">EUR</label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-12">
            <div class="form-group">
                <div class="input-group">
                    {{ form_widget(form.idd) }}
                </div>
            </div>
        </div>
        <div id="divProducto" class="col-sm-12" style="display:block;">
            <div class="col-sm-12">
                <div class="form-group">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            {{ form_widget(form.stock) }}
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-12">
                <div class="form-group">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            {{ form_widget(form.stockAdvertencia) }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="divServicio" class="col-sm-12" style="display:block;">
            <div class="col-sm-12">
                <div class="form-group">
                    <div class="input-group">
                        {{ form_widget(form.conceptoServicio) }}
                    </div>
                </div>
            </div>
            <div class="col-sm-12">
                <div class="form-group">
                    <div class="input-group">
                        {{ form_widget(form.descripcionServicio) }}
                    </div>
                </div>
            </div>
            <div class="col-sm-12">
                <div class="form-group">
                    <div class="custom-file">
                        {{ form_widget(form.documentoServicio) }}
                        <label class="custom-file-label" for="producto_documentoServicio">Adjuntar Documento</label>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-12">
            <div class="form-group">
                {{ form_widget(form.user) }}
            </div>
        </div>
    </div>
    <div>
        <button type="submit" class="btn btn-primary" style="float: left;"> Guardar</button>
        <a class="btn btn-danger" style="float: right" href="{{ path('app_producto_index') }}"> Cancelar</a>
    </div>
    {{ form_row(form._token) }}
</form>
{{ form_end(form) }}