{% extends 'base.html.twig' %}

{% block title %}Listado de Productos{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <!-- DataTables -->
    <link rel="stylesheet" href="{{ asset('plugins/datatables-bs4/css/dataTables.bootstrap4.min.css') }}"/>
    <link rel="stylesheet" href="{{ asset('plugins/datatables-responsive/css/responsive.bootstrap4.min.css') }}"/>
{% endblock %}

{% block page %}
    <div class="preload hidden">
        <div class="logo"></div>
        <div class="loader-frame">
            <div class="loader1" id="loader1"></div>
            <div class="loader2" id="loader2"></div>
        </div>
    </div>
    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <div class="content-header">
            <div class="container-fluid">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">Listado de Productos</h3>
                        <div class="card-tools">
                            <a href="{{ path('app_producto_list_pdf') }}">
                                <button class="btn btn-dark" data-toggle="tooltip"
                                        title="exportar a pdf listado de productos"><i
                                            class="fas fa-file-pdf"></i>
                                </button>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-3">
                            <a href="{{ path('app_producto_form_new') }}">
                                <button type="button" class="btn btn-block bg-gradient-success">Crear Nuevo Producto
                                </button>
                            </a>
                        </div>
                    </div>
                    <div class="row">
                        <div class="table-responsive" style="padding-left: 5px">
                            <table class="table table-bordered table-striped" id="dataProductos">
                                <thead class="text-center">
                                <tr>
                                    <th>Tipo de Producto</th>
                                    <th>ID</th>
                                    <th>Nombre</th>
                                    <th>Imagen del Producto</th>
                                    <th>Stock</th>
                                    <th>Amortización</th>
                                    <th>Vendidos</th>
                                    <th>Beneficio por Venta</th>
                                    <th>Usuario Asignado</th>
                                    <th>Producto Agotado</th>
                                    <th class="text-center">Acciones</th>
                                </tr>
                                </thead>
                                <tbody class="text-center">
                                {% for producto in productos %}
                                    {% set vendidos = 0 %}
                                    {% for venta in producto.ventas() %}
                                        {% set vendidos = vendidos + venta.cantidad %}
                                    {% endfor %}
                                    {% set disponible = 0 %}
                                    {% if producto.stock <= producto.stockAdvertencia %}
                                        {% set disponible = 1 %}
                                    {% endif %}
                                    <tr data-id="{{ producto.id }}" class="text-center">
                                        {% if producto.tipoProducto == 1 %}
                                            <td>General</td>
                                        {% elseif producto.tipoProducto == 2 %}
                                            <td>Libro</td>
                                        {% endif %}
                                        <td>{{ producto.idd }}</td>
                                        <td>{{ producto.nombre }}</td>
                                        {% if producto.imagen %}
                                            <td>
                                                <div class="product-image-thumb active"><img width="80" height="80"
                                                                                             src="{{ asset('uploads/' ~ producto.imagen) }}"
                                                                                             alt="Foto Producto">
                                                </div>
                                            </td>
                                        {% else %}
                                            <td>-</td>
                                        {% endif %}
                                        <td>{{ producto.Stock }}</td>
                                        {% if producto.amortizaciones|length > 0 %}
                                            <td>Si</td>
                                        {% else %}
                                            <td>No</td>
                                        {% endif %}
                                        <td>{{ vendidos }}</td>
                                        <td>{{ producto.beneficioxventa|number_format(2, '.', ',') ~ ' ' ~ producto.tipodemoneda }}</td>
                                        <td>{{ producto.user ? producto.user.nombre ~ ' ' ~ producto.user.apellidos }}</td>
                                        {% if disponible == 1 %}
                                            <td>Si</td>
                                        {% else %}
                                            <td>No</td>
                                        {% endif %}
                                        <td style="margin: 0 auto;">
                                            <a href="{{ path('app_producto_show', {'id': producto.id}) }}">
                                                <button class="btn btn-info" data-toggle="tooltip"
                                                        title="ver"><i
                                                            class="fas fa-info"></i>
                                                </button>
                                            </a>
                                            <a href="{{ path('app_producto_pdf', {'id': producto.id}) }}">
                                                <button class="btn btn-dark" data-toggle="tooltip"
                                                        title="exportar a pdf este producto"><i
                                                            class="fas fa-file-pdf"></i>
                                                </button>
                                            </a>
                                            {% if producto.cantidadVentas() == 0 %}
                                                <a href="{{ path('app_producto_form_edit', {'id': producto.id}) }}">
                                                    <button class="btn btn-success"
                                                            data-toggle="tooltip"
                                                            title="Editar"><i
                                                                class="fas fa-edit"></i>
                                                    </button>
                                                </a>
                                            {% endif %}
                                        </td>
                                    </tr>
                                {% else %}
                                    <tr>
                                        <td colspan="9">No se encontraron registros</td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <!-- Acceso a Rutas del Controller -->
    <script src="{{ asset('bundles/fosjsrouting/js/router.min.js') }}"></script>
    <script src="{{ path('fos_js_routing_js', { callback: 'fos.Router.setData' }) }}"></script>
    <!-- DataTables -->
    <script src="{{ asset('plugins/datatables/jquery.dataTables.min.js') }}"></script>
    <script src="{{ asset('plugins/datatables-bs4/js/dataTables.bootstrap4.min.js') }}"></script>
    <script src="{{ asset('plugins/datatables-responsive/js/dataTables.responsive.min.js') }}"></script>
    <script src="{{ asset('plugins/datatables-responsive/js/responsive.bootstrap4.min.js') }}"></script>
    <script>
        $(function () {

            $('#dataProductos').DataTable({
                "paging": true,
                "lengthChange": false,
                "searching": true,
                "lengthMenu": [[6], [6]],
                "ordering": true,
                "info": true,
                "autoWidth": false,
                "responsive": true,
            });

            $('#dataProductos tbody').on('click', '.delete', function () {

                let row = $(this).parents('tr');

                let mat_datos = {id: row.data('id')};

                let Ruta = Routing.generate('app_producto_delete');

                let opcion = confirm("Esta seguro que desea eliminar el producto seleccionado?");
                if (opcion === true) {
                    $(".preload").removeClass('hidden');

                    $.ajax({
                        url: Ruta,
                        type: "post",
                        dataType: "html",
                        data: mat_datos,
                    }).done(function (data) {
                        $(".preload").addClass('hidden');
                        if (data === 'ok') {
                            toastr["success"]('El producto ha sido borrado', "Notificación")
                            window.location.href = "{{ path('app_producto_index') }}";
                        } else {
                            toastr["error"](data, "Notificación")
                        }
                    });
                }
            });

        });
    </script>
{% endblock %}

