{% extends 'base.html.twig' %}

{% block title %}Cambiar contraseña{% endblock %}

{% block body %}
    <!-- Alerta -->
    <div class="preload hidden">
        <div class="logo"></div>
        <div class="loader-frame">
            <div class="loader1" id="loader1"></div>
            <div class="loader2" id="loader2"></div>
        </div>
    </div>
    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <div class="content-header">
            <div class="container-fluid mt-5" style="width: 500px;">
                <div class="row">
                    <div class="col-md-12">
                        <div class="card card-info card-outline">
                            <div class="card-header">
                                <h3 class="card-title">
                                    <i class="fas fa-user-edit"></i>
                                    Cambiar contraseña
                                </h3>
                            </div>
                            <div class="card-body">
                                {# Password #}
                                <div class="row">
                                    <div class="col-12">
                                        <div class="input-group mb-3">
                                            <label for="password"></label><input type="password" name="password"
                                                                                 id="password" class="form-control"
                                                                                 autocomplete="current-password"
                                                                                 required placeholder="Nueva Contraseña">
                                            <div class="input-group-append">
                                                <div class="input-group-text">
                                                    <span class="fas fa-eye-slash" id="verClaveNew"
                                                          style="cursor: pointer"></span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                {# ConfPassword #}
                                <div class="row">
                                    <div class="col-12">
                                        <div class="input-group mb-3">
                                            <label for="confPassword"></label><input type="password" name="confPassword"
                                                                                     id="confPassword"
                                                                                     class="form-control"
                                                                                     autocomplete="current-password"
                                                                                     required
                                                                                     placeholder="Confirmar nueva contraseña">
                                            <div class="input-group-append">
                                                <div class="input-group-text">
                                                    <span class="fas fa-eye-slash" id="verClaveNewConfirm"
                                                          style="cursor: pointer"></span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {# Botones #}
                            <div class="card-footer">
                                <div class="row justify-content-center">
                                    <div>
                                        <button type="button" class="btn btn-primary"
                                                id="btnGuardar"
                                                data-toggle="tooltip"
                                                data-placement="top"
                                                title="Guardar el producto">Guardar
                                        </button>
                                        <button type="button" class="btn btn-danger"
                                                id="btnCancelar"
                                                data-toggle="tooltip"
                                                data-placement="top"
                                                title="Salir">Cancelar
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <!-- Acceso a Rutas del Controller -->
    <script src="{{ asset('bundles/fosjsrouting/js/router.min.js') }}"></script>
    <script src="{{ path('fos_js_routing_js', { callback: 'fos.Router.setData' }) }}"></script>
    <script>
        $(document).ready(function () {

            toastr.options = {
                "closeButton": false,
                "debug": false,
                "newestOnTop": false,
                "progressBar": true,
                "positionClass": "toast-top-right",
                "preventDuplicates": true,
                "onclick": null,
                "showDuration": "300",
                "hideDuration": "1000",
                "timeOut": "5000",
                "extendedTimeOut": "1000",
                "showEasing": "swing",
                "hideEasing": "linear",
                "showMethod": "fadeIn",
                "hideMethod": "fadeOut"
            }

            $('#btnCancelar').on('click', function () {
                window.location.href = "{{ path('app_resumen') }}";
            });


            $('#verClaveNew').on("mousedown", function () {

                if ($("#password").val() !== '') {
                    $('#password').prop("type", "text");
                }
            });

            $('#verClaveNew').on("mouseup", function () {

                if ($("#password").val() !== '') {
                    $('#password').prop("type", "password");
                }
            });

            $('#verClaveNew').on("mouseout", function () {

                if ($("#password").val() !== '') {
                    $('#password').prop("type", "password");
                }
            });

            $('#verClaveNewConfirm').on("mousedown", function () {

                if ($("#confPassword").val() !== '') {
                    $('#confPassword').prop("type", "text");
                }
            });

            $('#verClaveNewConfirm').on("mouseup", function () {

                if ($("#confPassword").val() !== '') {
                    $('#confPassword').prop("type", "password");
                }
            });

            $('#verClaveNewConfirm').on("mouseout", function () {

                if ($("#confPassword").val() !== '') {
                    $('#confPassword').prop("type", "password");
                }
            });

            $('#btnGuardar').on('click', function () {

                let Ruta = Routing.generate('app_reset_cambiar');

                //Validaciones

                if ($("#password").val() === '') {
                    toastr["error"]('La contraseña es obligatoria, no puede quedar en blanco.', "Advertencia")
                    return false;
                }
                if ($("#confPassword").val() === '') {
                    toastr["error"]('Debe confirmar la contraseña, no puede quedar en blanco.', "Advertencia")
                    return false;
                }

                let passNew = $("#password").val();
                let passNewConfirm = $("#confPassword").val();

                if (passNewConfirm !== passNew) {
                    toastr["error"]('La contraseña no coincide con la confirmación, inténtelo de nuevo.', "Advertencia")
                    $("#password").val('');
                    $("#confPassword").val('');
                    return false;
                }

                $(".preload").removeClass('hidden');

                let mat_datos = {
                    userId: parseInt('{{ user }}'),
                    password: $('#password').val()
                };
                $.ajax({
                    type: "POST",
                    dataType: "html",
                    url: Ruta,
                    data: mat_datos
                }).done(function (data) {
                    $(".preload").addClass('hidden');

                    if (data === 'ok') {
                        toastr["success"]('La contraseña ha sido cambiada.', "Notificación")
                        window.location.href = "{{ path('app_resumen') }}";
                    } else {
                        toastr["error"](data, "Advertencia")
                    }
                });

            });

        });
    </script>
{% endblock %}

