{% extends 'base.html.twig' %}

{% block title %}Listado de Productos{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <!-- DataTables -->
    <link rel="stylesheet" href="{{ asset('plugins/datatables-bs4/css/dataTables.bootstrap4.min.css') }}"/>
    <link rel="stylesheet" href="{{ asset('plugins/datatables-responsive/css/responsive.bootstrap4.min.css') }}"/>
{% endblock %}

{% block page %}
    <div class="preload hidden">
        <div class="logo"></div>
        <div class="loader-frame">
            <div class="loader1" id="loader1"></div>
            <div class="loader2" id="loader2"></div>
        </div>
    </div>
    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <div class="content-header">
            <div class="container-fluid">
                <div class="card">
                    <div class="card-header">
                        <div class="card-title">
                            <h3>Listado de Productos Agotados</h3>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="table-responsive" style="padding-left: 5px">
                                <table class="table table-bordered table-striped" id="dataProductos">
                                    <thead class="text-center">
                                    <tr>
                                        <th>Tipo de Producto</th>
                                        <th>Nombre</th>
                                        <th>Imagen del Producto</th>
                                        <th>Beneficio por Venta</th>
                                        <th>Stock</th>
                                        <th>Usuario Asignado</th>
                                        <th class="text-center">Acciones</th>
                                    </tr>
                                    </thead>
                                    <tbody class="text-center">
                                    {% for producto in productos %}
                                        <tr data-id="{{ producto.id }}" class="text-center">
                                            {% if producto.tipoProducto == 1 %}
                                                <td>General</td>
                                            {% elseif producto.tipoProducto == 2 %}
                                                <td>Libro</td>
                                            {% endif %}
                                            <td>{{ producto.nombre }}</td>
                                            {% if producto.imagen %}
                                                <td><img width="80" height="80"
                                                         src="{{ asset('uploads/' ~ producto.imagen) }}"
                                                         alt="Foto Producto"></td>
                                            {% else %}
                                                <td>-</td>
                                            {% endif %}
                                            <td>{{ producto.beneficioxventa ~ ' ' ~ producto.tipodemoneda }}</td>
                                            <td>{{ producto.Stock }}</td>
                                            <td>{{ producto.user ? producto.user.nombre ~ ' ' ~ producto.user.apellidos }}</td>
                                            <td style="margin: 0 auto;">
                                                <button style="margin-left: 20px"
                                                        class="btn btn-primary stock"
                                                        data-toggle="tooltip"
                                                        title="Agregar stock"><i
                                                            class="fas fa-plus"></i>
                                                </button>
                                                <a href="{{ path('app_producto_show', {'id': producto.id}) }}">
                                                    <button style="margin-left: 20px"
                                                            class="btn btn-info" data-toggle="tooltip"
                                                            title="ver"><i
                                                                class="fas fa-info"></i>
                                                    </button>
                                                </a>
                                            </td>
                                        </tr>
                                    {% else %}
                                        <tr>
                                            <td colspan="7">No se encontraron registros</td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {{ include('producto_agotado/modalAddStock.html.twig') }}
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <!-- Acceso a Rutas del Controller -->
    <script src="{{ asset('bundles/fosjsrouting/js/router.min.js') }}"></script>
    <script src="{{ path('fos_js_routing_js', { callback: 'fos.Router.setData' }) }}"></script>
    <!-- DataTables -->
    <script src="{{ asset('plugins/datatables/jquery.dataTables.min.js') }}"></script>
    <script src="{{ asset('plugins/datatables-bs4/js/dataTables.bootstrap4.min.js') }}"></script>
    <script src="{{ asset('plugins/datatables-responsive/js/dataTables.responsive.min.js') }}"></script>
    <script src="{{ asset('plugins/datatables-responsive/js/responsive.bootstrap4.min.js') }}"></script>
    <script>
        $(function () {

            $('#dataProductos').DataTable({
                "paging": true,
                "lengthChange": false,
                "searching": true,
                "lengthMenu": [[6], [6]],
                "ordering": true,
                "info": true,
                "autoWidth": false,
                "responsive": true,
            });

            toastr.options = {
                "closeButton": false,
                "debug": false,
                "newestOnTop": false,
                "progressBar": true,
                "positionClass": "toast-top-right",
                "preventDuplicates": true,
                "onclick": null,
                "showDuration": "300",
                "hideDuration": "500",
                "timeOut": "3000",
                "extendedTimeOut": "500",
                "showEasing": "swing",
                "hideEasing": "linear",
                "showMethod": "fadeIn",
                "hideMethod": "fadeOut"
            }

            let idProducto;

            $('#dataProductos tbody').on('click', '.stock', function () {
                let row = $(this).parents('tr');
                idProducto = row.data('id');

                $('#modalAddStock').modal('show');
            });

            $('#btnAddGuardar').on('click', function () {

                //Validaciones
                if ($("#stock").val() == '') {
                    toastr["error"]('El stock del producto es obligatorio, no puede quedar en blanco.', "Advertencia")
                    return false;
                }
                if ($("#avisoStock").val() == '') {
                    toastr["error"]('El aviso de stock del producto es obligatorio, no puede quedar en blanco.', "Advertencia")
                    return false;
                }
                if (parseInt($("#avisoStock").val()) > parseInt($("#stock").val())) {
                    toastr["error"]('El aviso de stock no puede ser mayor que el stock del producto.', "Advertencia")
                    return false;
                }

                let Ruta = Routing.generate('app_producto_agotado_stock', {'id': idProducto});

                $('#modalAddStock').modal('hide');

                $(".preload").removeClass('hidden');

                let mat_datos = {
                    stock: parseInt($("#stock").val()),
                    aviso: parseInt($("#avisoStock").val()),
                };

                $.ajax({
                    url: Ruta,
                    type: "post",
                    dataType: "html",
                    data: mat_datos,
                }).done(function (data) {
                    $(".preload").addClass('hidden');
                    if (data === 'ok') {
                        $('#modalAddStock input').each(function () {
                            $(this).val('');
                        });
                        toastr["success"]('Se registro el aumento del stock de este producto', "Notificación")
                        window.location.href = "{{ path('app_producto_agotado_index') }}";
                    } else {
                        toastr["error"](data, "Notificación")
                    }
                });
            });

        });
    </script>
{% endblock %}
