{% extends 'base.html.twig' %}

{% block title %}Servicios Asignados{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <!-- DataTables -->
    <link rel="stylesheet" href="{{ asset('plugins/datatables-bs4/css/dataTables.bootstrap4.min.css') }}"/>
    <link rel="stylesheet" href="{{ asset('plugins/datatables-responsive/css/responsive.bootstrap4.min.css') }}"/>
{% endblock %}

{% block page %}
    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <div class="content-header">
            <div class="container-fluid">
                <div class="card">
                    <div class="card-header" style="background-color: #343a40">
                        <div class="card-title text-white">
                            <h3>Servicios Asignados</h3>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="table-responsive" style="padding-left: 5px">
                                <table class="table table-bordered table-striped" id="dataServicios">
                                    <thead class="text-center">
                                    <tr>
                                        <th>Nombre</th>
                                        <th>Beneficio por Venta</th>
                                        <th>Concepto</th>
                                        <th>Descripcion</th>
                                        <th>Documento</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for servicio in servicios %}
                                        <tr class="text-center">
                                            <td>{{ servicio.nombre }}</td>
                                            <td>{{ servicio.beneficioxventa ~ ' ' ~ servicio.tipodemoneda }}</td>
                                            <td>{{ servicio.conceptoServicio }}</td>
                                            <td>{{ servicio.descripcionServicio }}</td>
                                            {% if servicio.documentoServicio %}
                                                <td><a href="{{ asset('uploads/' ~ servicio.documentoServicio) }}"
                                                       target="_blank">Ver
                                                        Documento</a>
                                                </td>
                                            {% else %}
                                                <td>-</td>
                                            {% endif %}
                                        </tr>
                                    {% else %}
                                        <tr>
                                            <td colspan="9">No se encontraron servicios asignados</td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <!-- DataTables -->
    <script src="{{ asset('plugins/datatables/jquery.dataTables.min.js') }}"></script>
    <script src="{{ asset('plugins/datatables-bs4/js/dataTables.bootstrap4.min.js') }}"></script>
    <script src="{{ asset('plugins/datatables-responsive/js/dataTables.responsive.min.js') }}"></script>
    <script src="{{ asset('plugins/datatables-responsive/js/responsive.bootstrap4.min.js') }}"></script>
    <script>
        $(function () {

            $('#dataServicios').DataTable({
                "paging": true,
                "lengthChange": false,
                "searching": true,
                "lengthMenu": [[10], [10]],
                "ordering": true,
                "info": true,
                "autoWidth": false,
                "responsive": true,
            });
        });
    </script>
{% endblock %}



