{% extends 'base.html.twig' %}

{% block title %}Servicio{% endblock %}

{% block page %}
    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <div class="content-header">
            <div class="container-fluid">
                <div class="card">
                    <div class="card-header" style="background-color: #343a40">
                        <div class="card-title text-white">
                            <h3>Servicio</h3>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="table-responsive" style="padding-left: 5px">
                                <table class="table table-bordered table-striped" id="dataServicios">
                                    <tbody>
                                    <tr>
                                        <th>Nombre</th>
                                        <td>{{ producto.nombre }}</td>
                                    </tr>
                                    <tr>
                                        <th>Beneficio por Venta</th>
                                        <td>{{ producto.beneficioxventa }}</td>
                                    </tr>
                                    <tr>
                                        <th>Moneda</th>
                                        <td>{{ producto.tipodemoneda }}</td>
                                    </tr>
                                    <tr>
                                        <th>Concepto</th>
                                        <td>{{ producto.conceptoServicio }}</td>
                                    </tr>
                                    <tr>
                                        <th>Descripción</th>
                                        <td>{{ producto.descripcionServicio }}</td>
                                    </tr>
                                    {% if producto.documentoServicio %}
                                        <tr>
                                            <td><a href="{{ asset('uploads/' ~ producto.documentoServicio) }}"
                                                   target="_blank">Ver
                                                    Documento</a>
                                            </td>
                                        </tr>
                                    {% endif %}
                                    <tr>
                                        <th>Usuario Asignado</th>
                                        <td>{{ producto.user ? producto.user.nombre ~ ' ' ~ producto.user.apellidos }}</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>


                    <div style="padding: 20px">
                        <a class="btn btn-danger" style="float: left"
                           href="{{ path('app_servicio_index') }}">Regresar</a>

                        <a class="btn btn-success" style="float: right"
                           href="{{ path('app_servicio_form_edit', {'id': producto.id}) }}">Editar</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
