{% extends 'base.html.twig' %}

{% block title %}Venta de Servicios{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <!-- DataTables -->
    <link rel="stylesheet" href="{{ asset('plugins/datatables-bs4/css/dataTables.bootstrap4.min.css') }}"/>
    <link rel="stylesheet" href="{{ asset('plugins/datatables-responsive/css/responsive.bootstrap4.min.css') }}"/>
{% endblock %}

{% block page %}
    <div class="preload hidden">
        <div class="logo"></div>
        <div class="loader-frame">
            <div class="loader1" id="loader1"></div>
            <div class="loader2" id="loader2"></div>
        </div>
    </div>
    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <div class="content-header">
            <div class="container-fluid">
                <div class="card">
                    <div class="card-header">
                        <div class="card-title">
                            <h3>Venta de Servicios</h3>
                        </div>
                    </div>
                    {% if is_granted('ROLE_ADMIN') %}
                        <div class="col-md-3">
                            <a href="{{ path('app_venta_servicios_new') }}">
                                <button type="button" class="btn btn-block bg-gradient-success"> Nueva Venta de Servicio
                                </button>
                            </a>
                        </div>
                    {% endif %}
                    <div class="card-body">
                        <div class="row">
                            <div class="table-responsive" style="padding-left: 5px">
                                <table class="table table-bordered table-striped" id="dataVenta">
                                    <thead class="text-center">
                                    <tr>
                                        <th>Código</th>
                                        <th>Fecha</th>
                                        <th>Acciones</th>
                                    </tr>
                                    </thead>
                                    <tbody class="text-center">
                                    {% for venta in venta_servicios %}
                                        <tr data-id="{{ venta.id }}">
                                            <td>{{ venta.codigo }}</td>
                                            <td>{{ venta.fecha|date('Y-m-d') }}</td>
                                            <td width="180">
                                                <div class="row">
                                                    <div class="col-sm-4">
                                                        <a href="{{ path('app_venta_servicios_show', {'id': venta.id}) }}">
                                                            <button style="margin-left: 20px"
                                                                    class="btn btn-block btn-info" data-toggle="tooltip"
                                                                    title="Ver los servicios"><i
                                                                        class="fas fa-info"></i>
                                                            </button>
                                                        </a>
                                                    </div>
                                                    <div class="col-sm-4">
                                                        <button style="margin-left: 20px"
                                                                class="btn btn-block btn-danger delete"
                                                                data-toggle="tooltip"
                                                                title="Eliminar"><i
                                                                    class="fas fa-trash"></i>
                                                        </button>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                    {% else %}
                                        <div class="row">
                                            <span style="margin-left: 20px">No se encontraron registros</span>
                                        </div>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <!-- Acceso a Rutas del Controller -->
    <script src="{{ asset('bundles/fosjsrouting/js/router.min.js') }}"></script>
    <script src="{{ path('fos_js_routing_js', { callback: 'fos.Router.setData' }) }}"></script>
    <!-- DataTables -->
    <script src="{{ asset('plugins/datatables/jquery.dataTables.min.js') }}"></script>
    <script src="{{ asset('plugins/datatables-bs4/js/dataTables.bootstrap4.min.js') }}"></script>
    <script src="{{ asset('plugins/datatables-responsive/js/dataTables.responsive.min.js') }}"></script>
    <script src="{{ asset('plugins/datatables-responsive/js/responsive.bootstrap4.min.js') }}"></script>
    <script>
        $(function () {

            $('#dataVenta').DataTable({
                "paging": true,
                "lengthChange": false,
                "searching": true,
                "lengthMenu": [[10], [10]],
                "ordering": true,
                "info": true,
                "autoWidth": false,
                "responsive": true,
            });

            $('#dataVenta tbody').on('click', '.delete', function () {

                let row = $(this).parents('tr');

                let mat_datos = {id: row.data('id')};

                let Ruta = Routing.generate('app_venta_servicios_delete');

                let opcion = confirm("Esta seguro que desea cancelar la venta seleccionada?");
                if (opcion === true) {
                    $(".preload").removeClass('hidden');

                    $.ajax({
                        url: Ruta,
                        type: "post",
                        dataType: "html",
                        data: mat_datos,
                    }).done(function (data) {
                        $(".preload").addClass('hidden');
                        if (data === 'ok') {
                            toastr["success"]('Se ha cancelada la venta', "Notificación")
                            window.location.href = "{{ path('app_venta_servicios_index') }}";
                        } else {
                            toastr["error"](data, "Notificación")
                        }
                    });
                }
            });

        });
    </script>
{% endblock %}
