{% extends 'base.html.twig' %}

{% block title %}Servicios de la Venta{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <!-- DataTables -->
    <link rel="stylesheet" href="{{ asset('plugins/datatables-bs4/css/dataTables.bootstrap4.min.css') }}"/>
    <link rel="stylesheet" href="{{ asset('plugins/datatables-responsive/css/responsive.bootstrap4.min.css') }}"/>
{% endblock %}

{% block page %}
    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <div class="content-header">
            <div class="container-fluid">
                <div class="card">
                    <div class="card-header" style="background-color: #343a40">
                        <div class="card-title text-white">
                            <h3>Servicios de la Venta {{ venta.codigo }}</h3>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="table-responsive" style="padding-left: 5px">
                                <table class="table table-bordered table-striped" id="dataVentaServicios">
                                    <thead class="text-center">
                                    <tr>
                                        <th>Nombre</th>
                                        <th>Concepto</th>
                                        <th>Descripción</th>
                                        <th>Documento</th>
                                        <th>Usuario</th>
                                        <th>Royalties</th>
                                    </tr>
                                    </thead>
                                    <tbody class="text-center">
                                    {% for ventaServicio in venta.ventas() %}
                                        <tr>
                                            <td>{{ ventaServicio.producto.nombre }}</td>
                                            <td>{{ ventaServicio.producto.conceptoServicio }}</td>
                                            <td>{{ ventaServicio.producto.descripcionServicio }}</td>
                                            {% if ventaServicio.producto.documentoServicio %}
                                                <td>
                                                    <a href="{{ asset('uploads/' ~ ventaServicio.producto.documentoServicio) }}"
                                                       target="_blank">Ver
                                                        Documento</a>
                                                </td>
                                            {% else %}
                                                <td>-</td>
                                            {% endif %}
                                            <td>{{ ventaServicio.producto.user.nombre ~ ' ' ~ ventaServicio.producto.user.apellidos }}</td>
                                            <td>{{ ventaServicio.royaltie|number_format(2, '.', ',') }}</td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div style="padding: 20px">
                            <a class="btn btn-danger" style="float: left"
                               href="{{ path('app_venta_servicios_index') }}">Regresar</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

        {% block javascripts %}
            {{ parent() }}
            <!-- DataTables -->
            <script src="{{ asset('plugins/datatables/jquery.dataTables.min.js') }}"></script>
            <script src="{{ asset('plugins/datatables-bs4/js/dataTables.bootstrap4.min.js') }}"></script>
            <script src="{{ asset('plugins/datatables-responsive/js/dataTables.responsive.min.js') }}"></script>
            <script src="{{ asset('plugins/datatables-responsive/js/responsive.bootstrap4.min.js') }}"></script>
            <script>
                $(function () {

                    $('#dataVentaServicios').DataTable({
                        "paging": true,
                        "lengthChange": false,
                        "searching": false,
                        "lengthMenu": [[10], [10]],
                        "ordering": true,
                        "info": true,
                        "autoWidth": false,
                        "responsive": true,
                    });
                });
            </script>
        {% endblock %}
