{% extends 'base.html.twig' %}

{% block title %}Modificar pack de productos{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <!-- Select2 -->
    <link rel="stylesheet" href="{{ asset('plugins/select2/css/select2.min.css') }}">
    <link rel="stylesheet" href="{{ asset('plugins/select2-bootstrap4-theme/select2-bootstrap4.min.css') }}">
    <!-- DataTables -->
    <link rel="stylesheet" href="{{ asset('plugins/datatables-bs4/css/dataTables.bootstrap4.min.css') }}"/>
    <link rel="stylesheet" href="{{ asset('plugins/datatables-responsive/css/responsive.bootstrap4.min.css') }}"/>
{% endblock %}

{% block page %}
    <!-- Alerta -->
    <div class="preload hidden">
        <div class="logo"></div>
        <div class="loader-frame">
            <div class="loader1" id="loader1"></div>
            <div class="loader2" id="loader2"></div>
        </div>
    </div>
    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <div class="content-header">
            <div class="container-fluid mt-5">
                <div class="row">
                    <div class="col-md-12">
                        <div class="card card-success card-outline">
                            <div class="card-header">
                                <h3 class="card-title">
                                    <i class="fas fa-edit"></i>
                                    Modificar pack de productos
                                </h3>
                                <div class="caption" style="float: right">
                                    <label for="beneficioPack" id="mostrarBeneficio">Beneficio total: {{ packProductos.beneficioxventa }}</label>
                                </div>
                            </div>
                            <div class="card-body">
                                <div class="row">
                                    {# nombre #}
                                    <div class="col-lg-4 col-md-4 col-sm-12">
                                        <div class="form-group">
                                            <label for="nombre"></label><input type="text" class="form-control"
                                                                               placeholder="Teclee el nombre"
                                                                               id="nombre"
                                                                               name="nombre" value="{{ packProductos.nombre }}">
                                        </div>
                                    </div>
                                    {# Tipo de Moneda #}
                                    <div class="col-lg-4 col-md-4 col-sm-12" style="margin-top: 30px">
                                        <div class="form-group">
                                            <h5 class="card-title text-center" style="margin-left: 20px">
                                                Tipo de Moneda
                                            </h5>
                                            <label>
                                                <input style="margin-left: 20px" type="radio" name="tipoMoneda"
                                                       value="USD" {{ (packProductos.tipodemoneda == 'USD') ? 'checked' }}>
                                            </label>
                                            <label for="tipoMoneda">USD</label>

                                            <label>
                                                <input style="margin-left: 20px" type="radio"
                                                       name="tipoMoneda"
                                                       value="EUR" {{ (packProductos.tipodemoneda == 'EUR') ? 'checked' }}>
                                            </label>
                                            <label for="tipoMoneda">EUR</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    {# Producto #}
                                    <div class="col-lg-8 col-md-8 col-sm-12">
                                        <div class="form-group">
                                            <label for="producto"></label><select class="form-control select2"
                                                                                  style="width: 100%;" id="producto"
                                                                                  name="producto">
                                                <option value="0">Seleccione el producto disponible</option>
                                                {% for producto in  productos %}
                                                    {% if producto.tipoProducto == 1 %}
                                                        {% set tipo = 'Producto general' %}
                                                    {% elseif producto.tipoProducto == 2 %}
                                                        {% set tipo = 'Producto libro' %}
                                                    {% endif %}
                                                    <option value="{{ producto.id }}">{{ tipo ~ '-' ~ 'I.D.D: ' ~ producto.idd ~ '-' ~ producto.nombre ~ '-' ~ producto.stock ~ ' en stock' ~ '- asignado a: ' ~ producto.user.nombre ~ ' - con beneficio de venta: ' ~ producto.beneficioxventa ~ ' ' ~ producto.tipodemoneda }}</option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                    </div>
                                    {# Beneficio por venta de producto #}
                                    <div class="col-lg-2 col-md-2 col-sm-6">
                                        <div class="form-group">
                                            <label for="beneficio"></label><input type="text"
                                                                                         class="form-control"
                                                                                         placeholder="Teclee el beneficio"
                                                                                         id="beneficio"
                                                                                         name="beneficio">
                                        </div>
                                    </div>
                                    {# Botón adicionar #}
                                    <div class="col-lg-2 col-md-2 col-sm-2" style="margin-top: 20px">
                                        <button class="btn btn-block btn-info" data-toggle="tooltip"
                                                title="Adicionar al pack" id="btnAdicionar"><i
                                                    class="fas fa-plus"></i>
                                        </button>
                                    </div>
                                </div>
                                {# Listado de Productos #}
                                <div class="row">
                                    <div class="col-12">
                                        <div class="form-group">
                                            <label for="valorVenta">Productos del pack</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="table-responsive" style="padding-left: 5px">
                                        <table class="table table-bordered table-striped" id="dataProductos">
                                            <thead class="text-center">
                                            <tr>
                                                <th>Id</th>
                                                <th>Tipo de Producto</th>
                                                <th>Nombre</th>
                                                <th>Stock</th>
                                                <th>Usuario Asignado</th>
                                                <th>Beneficio x Venta</th>
                                                <th>Acciones</th>
                                            </tr>
                                            </thead>
                                            <tbody class="text-center">
                                            {% for producto in packProductos.productos %}
                                                <tr data-id="{{ producto.id }}" class="text-center">
                                                    <td>{{ producto.producto.id }}</td>
                                                    {% if producto.producto.tipoProducto == 1 %}
                                                        <td>General</td>
                                                    {% elseif producto.producto.tipoProducto == 2 %}
                                                        <td>Libro</td>
                                                    {% endif %}
                                                    <td>{{ producto.producto.nombre }}</td>
                                                    <td>{{ producto.producto.Stock }}</td>
                                                    <td>{{ producto.producto.user ? producto.producto.user.nombre ~ ' ' ~ producto.producto.user.apellidos }}</td>
                                                    <td>{{ producto.beneficioxventa|number_format(2, '.', ',') }}</td>
                                                    <td style="margin: 0 auto;">
                                                        <button class="btn btn-success editar"
                                                                data-toggle="tooltip"
                                                                title="Modificar el beneficio"><i
                                                                    class="fas fa-edit"></i>
                                                        </button>
                                                        <button class="btn btn-danger delete"
                                                                data-toggle="tooltip"
                                                                title="Quitar del pack"><i
                                                                    class="fas fa-trash"></i>
                                                        </button>
                                                    </td>
                                                </tr>
                                            {% else %}
                                                <tr>
                                                    <td colspan="7">No se encontraron registros</td>
                                                </tr>
                                            {% endfor %}
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                            {# Botones #}
                            <div class="card-footer">
                                <div class="row justify-content-center">
                                    <div>
                                        <button type="button" class="btn btn-primary"
                                                id="btnGuardar"
                                                data-toggle="tooltip"
                                                data-placement="top"
                                                title="Guardar el producto">Guardar
                                        </button>
                                        <button type="button" class="btn btn-danger"
                                                id="btnCancelar"
                                                data-toggle="tooltip"
                                                data-placement="top"
                                                title="Salir">Cancelar
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {{ include('pack/modalEditBeneficio.html.twig') }}
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <!-- Select2 -->
    <script src="{{ asset('plugins/select2/js/select2.full.min.js') }}"></script>
    <!-- DataTables -->
    <script src="{{ asset('plugins/datatables/jquery.dataTables.min.js') }}"></script>
    <script src="{{ asset('plugins/datatables-bs4/js/dataTables.bootstrap4.min.js') }}"></script>
    <script src="{{ asset('plugins/datatables-responsive/js/dataTables.responsive.min.js') }}"></script>
    <script src="{{ asset('plugins/datatables-responsive/js/responsive.bootstrap4.min.js') }}"></script>
    <!-- Acceso a Rutas del Controller -->
    <script src="{{ asset('bundles/fosjsrouting/js/router.min.js') }}"></script>
    <script src="{{ path('fos_js_routing_js', { callback: 'fos.Router.setData' }) }}"></script>
    <script>
        $(document).ready(function () {

            //Declaracion de variables
            let productos = [];
            let packProductos = [];
            let beneficioTotal = parseFloat('{{ packProductos.beneficioxventa }}');
            let idProducto, tipo;
            let id, bV;

            $('#producto').select2();

            let tableProductos = $('#dataProductos').DataTable({
                columns: [
                    {class: "text-center"},
                    {class: "text-center"},
                    {class: "text-center"},
                    {class: "text-center"},
                    {class: "text-center"},
                    {class: "text-center"},
                    {
                        defaultContent: "<button class='btn btn-danger delete' data-toggle='tooltip' title='Quitar del pack'>"
                            + "<i class='fas fa-trash'></i></button>",
                        class: "text-center"
                    }
                ],
                "paging": true,
                "lengthChange": false,
                "searching": false,
                "lengthMenu": [[5], [5]],
                "ordering": false,
                "info": true,
                "autoWidth": false,
                "responsive": true,
            });

            //llenar el arreglo de productos
            {% for producto in packProductos.productos %}
                    id = parseInt('{{ producto.producto.id }}')
                    bV = parseFloat('{{ producto.beneficioxventa }}')
                    //Tipo de Libro
                    {% if producto.producto.tipoProducto == 1 %}
                            tipo = 'General';
                    {% elseif producto.producto.tipoProducto == 2 %}
                            tipo = 'Libro';
                    {% endif %}
                    productos.push([
                        id,
                        tipo,
                        '{{ producto.producto.nombre }}',
                        '{{ producto.producto.stock }}',
                        '{{ producto.producto.user.nombre ~ ' ' ~ producto.producto.user.apellidos }}',
                        bV.toFixed(2)
                    ]);
                    packProductos.push({
                        idProducto: id,
                        beneficioVenta: bV.toFixed(2)
                    });
            {% endfor %}

            toastr.options = {
                "closeButton": false,
                "debug": false,
                "newestOnTop": false,
                "progressBar": true,
                "positionClass": "toast-top-right",
                "preventDuplicates": true,
                "onclick": null,
                "showDuration": "300",
                "hideDuration": "500",
                "timeOut": "3000",
                "extendedTimeOut": "7000",
                "showEasing": "swing",
                "hideEasing": "linear",
                "showMethod": "fadeIn",
                "hideMethod": "fadeOut"
            }

            $('#btnCancelar').on('click', function () {
                window.location.href = "{{ path('app_pack_index') }}";
            });

            $('#beneficio').keypress(function (tecla) {
                if ((tecla.charCode < 48 || tecla.charCode > 57) && (tecla.charCode !== 44) && (tecla.charCode !== 46) && (tecla.charCode !== 8)) {
                    return false;
                } else {
                    let len = $('#beneficio').val().length;
                    let indexPunto = $('#beneficio').val().indexOf('.');
                    let indexComa = $('#beneficio').val().indexOf(',');

                    if (tecla.charCode === 44) {
                        if (len === 0 && tecla.charCode === 44) {
                            return false;
                        }
                        if (indexComa > 0 && tecla.charCode === 44) {
                            return false;
                        }
                        if (indexPunto !== -1) {
                            return false;
                        }
                    }else if (tecla.charCode === 46) {
                        if (len === 0 && tecla.charCode === 46) {
                            return false;
                        }
                        if (indexPunto > 0 && tecla.charCode === 46) {
                            return false;
                        }
                        if (indexComa !== -1) {
                            return false;
                        }
                    }
                    if (indexPunto > 0) {
                        let CharAfterdot = (len + 1) - indexPunto;
                        if (CharAfterdot > 3) {
                            return false;
                        }
                    }else if (indexComa > 0) {
                        let CharAfterdot = (len + 1) - indexComa;
                        if (CharAfterdot > 3) {
                            return false;
                        }
                    }
                }
                return true;
            });

            $('#addBeneficio').keypress(function (tecla) {
                if ((tecla.charCode < 48 || tecla.charCode > 57) && (tecla.charCode !== 44) && (tecla.charCode !== 46) && (tecla.charCode !== 8)) {
                    return false;
                } else {
                    let len = $('#addBeneficio').val().length;
                    let indexPunto = $('#addBeneficio').val().indexOf('.');
                    let indexComa = $('#addBeneficio').val().indexOf(',');

                    if (tecla.charCode === 44) {
                        if (len === 0 && tecla.charCode === 44) {
                            return false;
                        }
                        if (indexComa > 0 && tecla.charCode === 44) {
                            return false;
                        }
                        if (indexPunto !== -1) {
                            return false;
                        }
                    }else if (tecla.charCode === 46) {
                        if (len === 0 && tecla.charCode === 46) {
                            return false;
                        }
                        if (indexPunto > 0 && tecla.charCode === 46) {
                            return false;
                        }
                        if (indexComa !== -1) {
                            return false;
                        }
                    }
                    if (indexPunto > 0) {
                        let CharAfterdot = (len + 1) - indexPunto;
                        if (CharAfterdot > 3) {
                            return false;
                        }
                    }else if (indexComa > 0) {
                        let CharAfterdot = (len + 1) - indexComa;
                        if (CharAfterdot > 3) {
                            return false;
                        }
                    }
                }
                return true;
            });

            //Adicionar en la tabla un producto
            $('#btnAdicionar').on('click', function () {

                //Validaciones
                if ($("#producto").val() === '0') {
                    toastr["error"]('Debe seleccionar el producto que desea incluir en el pack, no puede quedar en blanco.', "Advertencia")
                    return false;
                }
                if ($("#beneficio").val() === '' || $("#beneficio").val() === '0') {
                    toastr["error"]('El beneficio de venta del producto seleccionado es obligatorio, no puede quedar en blanco.', "Advertencia")
                    return false;
                }

                //Comprobar que no exista el producto
                let n;
                let existe = false;
                for (n = 0; n < packProductos.length; n++) {
                    if (packProductos[n]['idProducto'] === parseInt($("#producto").val())) {
                        existe = true;
                        break;
                    }
                }
                if (existe) {
                    toastr["error"]('Este producto ya existe en el pack.', "Advertencia")
                    return false;
                }

                let idProducto = $('#producto').val();
                let tipo, idProductoSeleccionado;
                let beneficioVenta = 0;
                if (idProducto !== '0') {
                    {% for producto in  productos %}
                        idProductoSeleccionado = '{{ producto.id }}';
                        if (idProducto === idProductoSeleccionado) {
                            //Tipo de Libro
                            {% if producto.tipoProducto == 1 %}
                            tipo = 'General';
                            {% elseif producto.tipoProducto == 2 %}
                            tipo = 'Libro';
                            {% endif %}
                            beneficioVenta = parseFloat($('#beneficio').val().replace(',','.'));
                            beneficioTotal += beneficioVenta;
                            tableProductos.row.add([
                                idProducto,
                                tipo,
                                '{{ producto.nombre }}',
                                '{{ producto.stock }}',
                                '{{ producto.user.nombre ~ ' ' ~ producto.user.apellidos }}',
                                beneficioVenta.toFixed(2)
                            ]).draw(false);
                            packProductos.push({
                                idProducto: idProducto,
                                beneficioVenta: beneficioVenta.toFixed(2)
                            });
                    }
                    {% endfor %}
                    $('#mostrarBeneficio').text('Beneficio total: ' + beneficioTotal.toFixed(2));
                }
            });

            //Borrar de la tabla un producto
            $('#dataProductos tbody').on('click', '.delete', function () {
                let row = $(this).parents('tr');
                let fila = tableProductos.row(row).data();
                beneficioTotal -= fila[5];
                let n;
                for (n = 0; n < packProductos.length; n++) {
                    if (packProductos[n]['idProducto'] === parseInt(fila[0])) {
                        packProductos.splice(n, 1);
                        break;
                    }
                }
                row.fadeOut();
                $('#mostrarBeneficio').text('Beneficio total: ' + beneficioTotal.toFixed(2));
            });

            $("#upload").on('change', function (e) {
                let fichero = $("#upload").val();
                let input = document.getElementById('upload');
                let file = input.files[0]; //2 000 000
                let allowedExtensions = /(.jpg|.png)$/i;

                if (!allowedExtensions.exec(fichero)) {
                    toastr["error"]('Sólo se pueden subir archivos con extensiones: .jpg, .png.', "Advertencia")
                    $("#upload").val('');
                    return false;
                } else if (file.size > 2000000) {
                    toastr["error"]('El tamano del fichero no puede ser mayor que 2 MB.', "Advertencia")
                    $("#upload").val('');
                    return false;
                } else {
                    //aqui subo el fichero y guardo el nombre
                    let Ruta = Routing.generate('app_producto_fichero');
                    let form = document.getElementById("myform");
                    siFichero = 1;

                    $.ajax({
                        url: Ruta,
                        type: "post",
                        dataType: "json",
                        data: new FormData(form),
                        contentType: false,
                        processData: false,
                        cache: false
                    }).done(function (data) {
                        fichero = data['fichero'];
                    });
                }
            });

            $('#btnGuardar').on('click', function () {

                let Ruta = Routing.generate('app_pack_update');

                //Validaciones
                if ($("#nombre").val() === '') {
                    toastr["error"]('El nombre del pack es obligatorio, no puede quedar en blanco.', "Advertencia")
                    return false;
                }
                if (tableProductos.rows().count() < 2) {
                    toastr["error"]('Debe incluir al menos dos productos en el pack.', "Advertencia")
                    return false;
                }
                //datatable completo
                //console.log(tableProductos.rows().data().toArray());

                $(".preload").removeClass('hidden');

                let mat_datos = {
                    idPack: '{{ packProductos.id }}',
                    nombre: $('#nombre').val(),
                    tipoMoneda: $('input:radio[name=tipoMoneda]:checked').val(),
                    beneficioTotal: beneficioTotal,
                    productos: packProductos
                };
                $.ajax({
                    type: "POST",
                    dataType: "html",
                    url: Ruta,
                    data: mat_datos
                }).done(function (data) {
                    $(".preload").addClass('hidden');

                    if (data === 'ok') {
                        toastr["success"]('El pack de productos ha sido modificado.', "Notificación")
                        window.location.href = "{{ path('app_pack_index') }}";
                    } else {
                        toastr["error"](data, "Advertencia")
                    }
                });


            });

            //Editar beneficio
            $('#dataProductos tbody').on('click', '.editar', function () {
                let row = $(this).parents('tr');
                let fila = tableProductos.row(row).data();
                idProducto = parseInt(fila[0]);
                $("#modalTitle").text("MODIFICAR BENEFICIO DE " + fila[2].toUpperCase());
                $('#modalEditBeneficio').modal('show');
            });

            $('#btnGuardarBeneficio').on('click', function () {

                //Validaciones
                if ($("#addBeneficio").val() === '') {
                    toastr["error"]('El beneficio es obligatorio, no puede quedar en blanco.', "Advertencia")
                    return false;
                }

                $('#modalEditBeneficio').modal('hide');

                let n, beneficioVenta;
                beneficioTotal = 0;
                for (n = 0; n < packProductos.length; n++) {
                    if (packProductos[n]['idProducto'] === idProducto) {
                        beneficioVenta = parseFloat($('#addBeneficio').val().replace(',','.'));
                        packProductos[n]['beneficioVenta'] = beneficioVenta.toFixed(2);
                        break;
                    }
                }

                for (n = 0; n < productos.length; n++) {
                    if (productos[n][0] === idProducto) {
                        beneficioTotal += beneficioVenta;
                        productos[n][5] = beneficioVenta.toFixed(2);
                    }else {
                        beneficioTotal += parseFloat(productos[n][5]);
                    }
                }

                $('#mostrarBeneficio').text('Beneficio total: ' + beneficioTotal);

                //Adicionar a la tabla
                tableProductos = $('#dataProductos').DataTable({
                    destroy: true,
                    data: productos,
                    columns: [
                        {class: "text-center"},
                        {class: "text-center"},
                        {class: "text-center"},
                        {class: "text-center"},
                        {class: "text-center"},
                        {class: "text-center"},
                        {
                            defaultContent:
                                  "<button class='btn btn-success editar' data-toggle='tooltip' title='Modificar el beneficio'>"
                                + "<i class='fas fa-edit'></i></button>"
                                + "<button class='btn btn-danger delete' data-toggle='tooltip' title='Quitar del pack'>"
                                + "<i class='fas fa-trash'></i></button>",
                            class: "text-center"
                        }
                    ],
                    "lengthMenu": [[10], [10]]
                });
            });

        });
    </script>
{% endblock %}

