{{ form_start(form, {'attr': {'id':'form_newwesterunion'}}) }}
<form role="form" action="{{ path('app_westerunion_new') }}">
    <div class="row">
        <div class="col-sm-4">
            <div class="form-group">
                <div class="text-danger">
                    {{ form_errors(form) }}
                </div>
                <div class="input-group">
                    <div class="input-group-prepend">
                        {{ form_widget(form.nombre) }}
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="form-group">
                <div class="input-group">
                    <div class="input-group-prepend">
                        {{ form_widget(form.apellidoPaterno) }}
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="form-group">
                <div class="input-group">
                    {{ form_widget(form.apellidoMaterno) }}
                </div>
            </div>
        </div>
        <div class="col-sm-12">
            <div class="form-group">
                <div class="input-group">
                    {{ form_widget(form.correo) }}
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="form-group">
                <div class="input-group">
                    <div class="input-group-prepend">
                        {{ form_widget(form.ciudad) }}
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="form-group">
                <div class="input-group">
                    <div class="input-group-prepend">
                        {{ form_widget(form.numeromovil) }}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div>
        <button type="submit" class="btn btn-primary" style="float: left;"> Guardar</button>

        <a class="btn btn-danger" style="float: right" href="{{ path('app_westerunion_index') }}"> Cancelar</a>
    </div>
    {{ form_row(form._token) }}
</form>
{{ form_end(form) }}