{% extends 'base.html.twig' %}

{% block title %}Westerunion{% endblock %}

{% block page %}
    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <div class="content-header">
            <div class="container-fluid">
                <div class="card">
                    <div class="card-header">
                        <div class="card-title">
                            <h3>Westerunion</h3>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <a href="{{ path('app_westerunion_new') }}">
                            <button type="button" class="btn btn-block bg-gradient-success"><i
                                        class="fa fa-user-plus"></i> Crear Westerunion
                            </button>
                        </a>
                    </div>
                    <table class="table">
                        <thead class="text-center">
                        <tr>
                            <th>Id</th>
                            <th>Nombre</th>
                            <th>Apellido Paterno</th>
                            <th>Apellido Materno</th>
                            <th>Correo</th>
                            <th>Ciudad</th>
                            <th>Numero de Movil</th>
                            <th>Acciones</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for westerunion in westerunions %}
                            <tr>
                                <td>{{ westerunion.id }}</td>
                                <td>{{ westerunion.nombre }}</td>
                                <td>{{ westerunion.apellidoPaterno }}</td>
                                <td>{{ westerunion.apellidoMaterno }}</td>
                                <td>{{ westerunion.correo }}</td>
                                <td>{{ westerunion.ciudad }}</td>
                                <td>{{ westerunion.numeromovil }}</td>
                                <td width="180">
                                    <div class="row">
                                        <div class="col-sm-4">
                                            <a href="{{ path('app_westerunion_show', {'id': westerunion.id}) }}">
                                                <button class="btn btn-block btn-info" data-toggle="tooltip"
                                                        title="ver"><i
                                                            class="fas fa-info"></i>
                                                </button>
                                            </a>
                                        </div>
                                        <div class="col-sm-4">

                                            <a href="{{ path('app_westerunion_edit', {'id': westerunion.id}) }}">
                                                <button class="btn btn-block btn-success" data-toggle="tooltip"
                                                        title="Editar"><i
                                                            class="fas fa-edit"></i>
                                                </button>
                                            </a>
                                        </div>
                                        <div class="col-sm-4">
                                            <form method="post"
                                                  action="{{ path('app_westerunion_delete', {'id': westerunion.id}) }}"
                                                  onsubmit="return confirm('Está segur@ que desea eliminar esta cuenta?');">
                                                <input type="hidden" name="_method" value="DELETE">
                                                <input type="hidden" name="_token"
                                                       value="{{ csrf_token('delete' ~ westerunion.id) }}">
                                                <button class="btn btn-block btn-danger" data-toggle="tooltip"
                                                        title="Eliminar"><i
                                                            class="fas fa-trash"></i>
                                                </button>
                                            </form>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        {% else %}
                            <tr>
                                <td colspan="8">No se encontraron registros</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
